/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 60px;
}

div{
  margin-top: 100px;
  font-size: 50px;
  color:red;

}
input{
  border: 3px black solid;
  border-top-color: aquamarine;
  border-bottom-color: aquamarine;
}

